body{
  background-image: linear-gradient(120deg,#3498db,#8e44ad);
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;  
}
.MAIN{
  text-align: center;
  margin-left: 30em;
  margin-right: 20em;
}
p{
  font-weight: 200px;
  color: #000;
  text-align: left;
}
.time-picker{
  position: absolute;
  margin-top: -15px;
}
.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -10px 0 80px 0;
    display: block;
    text-align: center;
}
.box{
  margin-top: 15em;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.452);
	border-radius:3px;
	padding:70px 100px;
}
.box2{
  margin-top: 15em;
	position:absolute;
	left:50%;
	top:100%;
	transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.452);
	border-radius:3px;
	padding:70px 200px;
}


.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#fff;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  color: black;
  background:transparent;
  border: none;
  border-bottom:1px solid black;	
}
.input-container input:required{
  box-shadow: none;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.addbtn{
  position: absolute;
  left: 20em;
  background-color:#000000;
  border: none;
  border-radius:2px;
  cursor: pointer;
  padding: 5px 10px;
  color:#fff;
}
.removebtn{
  position: absolute;
  left: 17em;
  background-color:#000000;
  border: none;
  border-radius:2px;
  cursor: pointer;
  padding: 5px 13px;
  color:#fff;
}
.btn{
	color:#fff;
	background-color:#000000;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/

.select-input{
  position: absolute;
  left: -10em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius:5px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  overflow: hidden;
}

.select-input2{
  position: absolute;
  background-color: black;
  color: #fff;
  border: none;
  border-radius:5px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 3em;
}

.select-input3{
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  border: none;
}
.role-info{
  position: absolute;
  margin-top: -20px;
  margin-left: -30px;
  color: #fff;
  font-weight: bold;
}
.select-input4{
  position: absolute;
  left: 10em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius:5px;
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 7px;
  cursor: pointer;
  overflow: hidden;
}

.form-row{
  margin-bottom: 50px;
}




.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
/**MENU**/
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: 0px;
    transition: all 500ms linear;
    cursor: pointer;
}
#sidebar.active {
    left: -200px;
}
#sidebar ul li{
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}
#sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #151719;
    margin: 3px 0px;
}

/**TABLE DESIGN**/
.container-table100{
  position: absolute;
  margin-top: 10em;
  margin-left: -10em;
  
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead th {
  background-color: #000;
  text-align: center;
}

.deletebtn{
  background-color:red;
  font-size: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color:#fff;
  padding:10px 10px;
	text-transform:uppercase;
	border-radius:2px;
	cursor:pointer;
}
.deletebtn:hover{
  background-color: #000;
}

.updatebtn{
  background-color: #0099ff;
  font-size: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color:#fff;
  padding:10px 10px;
	text-transform:uppercase;
	border-radius:2px;
	cursor:pointer;
}
.updatebtn:hover{
  background-color: #000;
}

#datetimepicker2{
  margin-left: 5em;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border-bottom:1px solid black;
  text-align: center;
}

select::-ms-expand{
  display: none;
}





























