.logout{
  cursor: pointer;
  color: #000;
}

#datetimepicker{
    margin-top: 1em;
}

.input-container{
	position:relative;
    margin-bottom:15px;
    margin-top: 1em;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#000;	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  color: black;
  background:transparent;
  border: none;
  border-bottom:1px solid black;
  padding-right: -10em;
  width: 100px;

}
.input-container input:required{
  box-shadow: none;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}

.select-box{
    border: none;
    background: inherit;
    margin-top: 1em;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border-bottom:1px solid black;
}

select::-ms-expand{
  display: none;
}