

  <body>
    <form action="index.html" class="login-form">
      <h1>Register</h1>

      <div class="txtb">
        <input placeholder="Firstname" type="text" [(ngModel)]="registerUserData.firstname" name="firsname" required>
  
      </div>

      <div class="txtb">
        <input placeholder="Lastname" type="text" [(ngModel)]="registerUserData.lastname" name="lastname" required>
  
      </div>
  
      <div class="txtb">
        <input placeholder="Email" type="text" [(ngModel)]="registerUserData.email" name="email" required>
  
      </div>
  
      <div class="txtb">
        <i class="fas fa-eye" (click)="visibility()"></i>
        <input placeholder="Password" [type]="passwordType" [(ngModel)]="registerUserData.password" name="password" required>
        
      </div>
  
      <input type="submit" (click)="registerUser()" class="logbtn" value="Sign Up">
  
      <div class="bottom-text">
        Already have an account? <a  routerLink="../login" routerLinkActive="active">Login Page</a>
      </div>
  
    </form>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  </body>