<body>
  <form action="index.html" class="login-form">
    <h1>Login</h1>

    <div class="txtb">
      <input placeholder="Email" type="text" [(ngModel)]="loginUserData.email" name="email" required>
      
    </div>

    <div class="txtb">
      <i class="fas fa-eye" (click)="visibility()"></i>
      <input placeholder="Password" [type]="passwordType" [(ngModel)]="loginUserData.password" name="password" id="pass" required>
      
    </div>

    <input type="submit" (click)="loginUser()" class="logbtn" value="Login">

    <div class="bottom-text">
      Don't have account? <a  routerLink="../register" routerLinkActive="active">Register</a>
    </div>

  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>


</body>

